.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title{
  text-align: center;
  font-size: 30px;
  color:#33c7f0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Head{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.table{
  display:flex;
  justify-content: space-around;
 
  
}

.course_Pool{
 position: absolute;
 width: 550px;
 height:100%;
 border: 1px solid black;
padding: 10px;
margin: 10px;
top: 100px;
left: 70%;

}
li {
  float: left;
}

.course_Pool .item{
  width: 500px;
 border: 2px solid black;

 background-color: #2f4353;
 
 background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);


 list-style: none;
float: left;
 word-wrap:break-word;
padding: 10px;
margin: 10px;
top: 100px;
left: 70%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
